In [ ]:
###############################################
# GÖREV 1: Veri yapılarının tipleriniz inceleyiniz.
###############################################
x = 8
y = 3.2
z = 8j + 18

a = "Hello World"

b = True

c = 23 < 22

l = [1, 2, 3, 4]
d = {"Name": "Jake",
     "age": 27,
     "Adress": "Downtown"}

t = ("Machine Learning", "Data Science")

s = {"Python", "Machine Learning", "Data Science"}

In [ ]:
type(s)

set

In [ ]:
###############################################
# GÖREV 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
###############################################
text = "The goal is to turn data into information, and information into insight."
tlist = text.upper().replace(',', ' ').replace('.', ' ').split()
tlist

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [ ]:

###############################################
# GÖREV 3: Verilen liste için aşağıdaki görevleri yapınız.
###############################################
lst = ["D", "A", "T", "A", "S", "C", "I","E" ,"N" ,"C", "E"]

In [ ]:
# Adım 1: Verilen listenin eleman sayısına bakın.
len(lst)

11

In [ ]:
# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.
lst[0], lst[-1]

('D', 'E')

In [ ]:
# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.
lst[:4]

['D', 'A', 'T', 'A']

In [ ]:
# Adım 4: Sekizinci index'teki elemanı silin.
lst.pop(8)

'N'

In [ ]:
# Adım 5: Yeni bir eleman ekleyin.
lst.append('S')
lst.append('T')

In [ ]:
# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.
lst.insert(8,'N')

In [ ]:
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'S', 'T']

In [ ]:
###############################################
# GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
###############################################

dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

In [ ]:
# Adım 1: Key değerlerine erişiniz.
dict.keys()

dict_keys(['Christian', 'Daisy', 'Dante', 'Ahmet'])

In [ ]:
# Adım 2: Value'lara erişiniz.
dict.values()

dict_values([['America', 18], ['England', 13], ['Italy', 25], ['Turkey', 24]])

In [ ]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict['Daisy'][1]=13

In [ ]:
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict['Ahmet']=['Turkey', 24]

In [ ]:
# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop('Antonio')

['Spain', 22]

In [ ]:
###############################################
# GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.
###############################################
l = [2,13,18,93,22]
def func(liste):
  e=[]
  o=[]
  [e.append(i) if i%2==0 else o.append(i) for i in liste]
  return e, o
even_list, odd_list = func(l)
even_list, odd_list

([2, 18, 22], [13, 93])

In [10]:
###############################################
# GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır.
# Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir.
# Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.
###############################################
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
ogrenciler = list((i , ogrenci, "Mühendislik") if i<4 else (i-3 , ogrenci, "Tıp") for i, ogrenci in enumerate(ogrenciler,1))

for ogrenci in ogrenciler:
  print(f"{ogrenci[2]} Fakültesi {ogrenci[0]}. öğrenci: {ogrenci[1]}")

Mühendislik Fakültesi 1. öğrenci: Ali
Mühendislik Fakültesi 2. öğrenci: Veli
Mühendislik Fakültesi 3. öğrenci: Ayşe
Tıp Fakültesi 1. öğrenci: Talat
Tıp Fakültesi 2. öğrenci: Zeynep
Tıp Fakültesi 3. öğrenci: Ece

In [ ]:
###############################################
# GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.
###############################################

ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]
for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
  print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir

In [12]:
###############################################
# GÖREV 8: Aşağıda 2 adet set verilmiştir.
# Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.
###############################################

kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])
def compare_set(set1, set2):
  if set1.issuperset(set2):
    print(set1.intersection(set2))
  else:
    print(set2.difference(set1))
compare_set(kume1, kume2)

{'function', 'lambda', 'miuul', 'qcut'}