In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load
!pip install mlxtend
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

Requirement already satisfied: mlxtend in /opt/conda/lib/python3.10/site-packages (0.22.0)
Requirement already satisfied: scipy>=1.2.1 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (1.11.2)
Requirement already satisfied: numpy>=1.16.2 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (1.23.5)
Requirement already satisfied: pandas>=0.24.2 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.2 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in /opt/conda/lib/python3.10/site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from mlxtend) (68.0.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (9.5.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
/kaggle/input/online-retail/Online_Retail.xlsx
/kaggle/input/online-retail/Online_Retail.csv

In [ ]:
# Data pre-prcessing

def missing_values_analysis(data):
    na_columns = [col for col in data.columns if data[col].isnull().sum() > 0]
    n_miss = data[na_columns].isnull().sum().sort_values(ascending=True)
    ratio = (data[na_columns].isnull().sum() / data.shape[0] * 100).sort_values(ascending=True)
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['Total Missing Values', 'Ratio'])
    missing_df = pd.DataFrame(missing_df)
    return missing_df

def check_df(data, row_num=5, col_num=10):
    print("*************** Dataset Shape ***************")
    print("No. of Rows:", data.shape[0], "\nNo. of Columns:", data.shape[1])
    print("*************** Dataset Information ***************")
    print(data.info())
    print("*************** Types of Columns ***************")
    print(data.dtypes)
    print(f"*************** First {row_num} Rows ***************")
    print(data.iloc[:row_num,:col_num])
    print(f"*************** Last {row_num} Rows ***************")
    print(data.iloc[-row_num:,:col_num])
    print("*************** Summary Statistics of The Dataset ***************")
    print(data.describe([0.10, 0.25, 0.50, 0.70, 0.80, 0.90, 0.95, 0.99]).T)
    print("*************** Dataset Missing Values Analysis ***************")
    print(missing_values_analysis(data))




df_ = pd.read_csv("/kaggle/input/online-retail/Online_Retail.csv")
df_ = df_.astype({'InvoiceNo':'string'})
df_ = df_.astype({'StockCode':'string'})
df_ = df_.astype({'Description':'string'})
df_ = df_.astype({'Country':'string'})
df = df_.copy()
check_df(df)

*************** Dataset Shape ***************
No. of Rows: 541909
No. of Columns: 8
*************** Dataset Information ***************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  string
 1   StockCode    541909 non-null  string
 2   Description  540455 non-null  string
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  string
dtypes: float64(2), int64(1), object(1), string(4)
memory usage: 33.1+ MB
None
*************** Types of Columns ***************
InvoiceNo      string[python]
StockCode      string[python]
Description    string[python]
Quantity                int64
InvoiceDate            object
UnitPrice             float64
CustomerID            float64
Country        string[python]
dtype: object
*************** First 5 Rows ***************
  InvoiceNo StockCode                          Description  Quantity          InvoiceDate  UnitPrice  CustomerID         Country
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6  2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1    536365     71053                  WHITE METAL LANTERN         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8  2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6  2010-12-01 08:26:00       3.39     17850.0  United Kingdom
*************** Last 5 Rows ***************
       InvoiceNo StockCode                      Description  Quantity          InvoiceDate  UnitPrice  CustomerID Country
541904    581587     22613      PACK OF 20 SPACEBOY NAPKINS        12  2011-12-09 12:50:00       0.85     12680.0  France
541905    581587     22899     CHILDREN'S APRON DOLLY GIRL          6  2011-12-09 12:50:00       2.10     12680.0  France
541906    581587     23254    CHILDRENS CUTLERY DOLLY GIRL          4  2011-12-09 12:50:00       4.15     12680.0  France
541907    581587     23255  CHILDRENS CUTLERY CIRCUS PARADE         4  2011-12-09 12:50:00       4.15     12680.0  France
541908    581587     22138    BAKING SET 9 PIECE RETROSPOT          3  2011-12-09 12:50:00       4.95     12680.0  France
*************** Summary Statistics of The Dataset ***************
               count          mean          std       min       10%       25%       50%       70%       80%       90%       95%      99%      max
Quantity    541909.0      9.552250   218.081158 -80995.00      1.00      1.00      3.00      8.00     12.00     24.00     29.00    100.0  80995.0
UnitPrice   541909.0      4.611114    96.759853 -11062.06      0.63      1.25      2.08      3.75      4.95      7.95      9.95     18.0  38970.0
CustomerID  406829.0  15287.690570  1713.600303  12346.00  12876.00  13953.00  15152.00  16493.00  17095.00  17719.00  17905.00  18212.0  18287.0
*************** Dataset Missing Values Analysis ***************
             Total Missing Values  Ratio
Description                  1454   0.27
CustomerID                 135080  24.93

In [ ]:
#Data cleaning

def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["InvoiceNo"].str.contains("C", na=False)]
    dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["UnitPrice"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "UnitPrice")
    return dataframe

df = retail_data_prep(df)
df.isnull().sum()
df.describe().T

               count          mean          std        min       25%       50%       75%       max
Quantity    397884.0     11.830797    25.523078      1.000      2.00      6.00     12.00    298.50
UnitPrice   397884.0      2.893454     3.227090      0.001      1.25      1.95      3.75     37.06
CustomerID  397884.0  15294.423453  1713.141560  12346.000  13969.00  15159.00  16795.00  18287.00

In [ ]:
# Preparing ARL Data Structures (Invoice - Product matrix)
df_fr = df[df['Country'] == "France"]

print(df_fr.groupby(['InvoiceNo', 'Description']).agg({"Quantity": "sum"}).head(20)) #overviewing the data

print(df_fr.groupby(['InvoiceNo', 'Description']).agg({"Quantity": "sum"}).unstack().iloc[0:5, 0:5]) #let's look how seems converting the rows to columns

print(df_fr.groupby(['InvoiceNo', 'Description']).agg({"Quantity": "sum"}).unstack().fillna(0).iloc[0:5, 0:5])# let's try to fill NaN datas with 0

print(df_fr.groupby(['InvoiceNo', 'StockCode']). \
    agg({"Quantity": "sum"}). \
    unstack(). \
    fillna(0). \
    applymap(lambda x: 1 if x > 0 else 0).iloc[0:5, 0:5]) # if quentity bigger then 0 lets fill 1 to make matrix like 0 vs 1

                                               Quantity
InvoiceNo Description
536370     SET 2 TEA TOWELS I LOVE LONDON          24.0
          ALARM CLOCK BAKELIKE GREEN               12.0
          ALARM CLOCK BAKELIKE PINK                24.0
          ALARM CLOCK BAKELIKE RED                 24.0
          CHARLOTTE BAG DOLLY GIRL DESIGN          20.0
          CIRCUS PARADE LUNCH BOX                  24.0
          INFLATABLE POLITICAL GLOBE               48.0
          LUNCH BOX I LOVE LONDON                  24.0
          MINI JIGSAW CIRCUS PARADE                24.0
          MINI JIGSAW SPACEBOY                     24.0
          MINI PAINT SET VINTAGE                   36.0
          PANDA AND BUNNIES STICKER SHEET          12.0
          POSTAGE                                   3.0
          RED TOADSTOOL LED NIGHT LIGHT            24.0
          ROUND SNACK BOXES SET OF4 WOODLAND       24.0
          SET/2 RED RETROSPOT TEA TOWELS           18.0
          SPACEBOY LUNCH BOX                       24.0
          STARS GIFT TAPE                          24.0
          VINTAGE HEADS AND TAILS CARD GAME        24.0
          VINTAGE SEASIDE JIGSAW PUZZLES           12.0
                                   Quantity
Description 50'S CHRISTMAS GIFT BAG LARGE   DOLLY GIRL BEAKER               I LOVE LONDON MINI BACKPACK     NINE DRAWER OFFICE TIDY         SET 2 TEA TOWELS I LOVE LONDON
InvoiceNo
536370                                  NaN                             NaN                             NaN                             NaN                            24.0
536852                                  NaN                             NaN                             NaN                             NaN                             NaN
536974                                  NaN                             NaN                             NaN                             NaN                             NaN
537065                                  NaN                             NaN                             NaN                             NaN                             NaN
537463                                  NaN                             NaN                             NaN                             NaN                             NaN
                                   Quantity
Description 50'S CHRISTMAS GIFT BAG LARGE   DOLLY GIRL BEAKER               I LOVE LONDON MINI BACKPACK     NINE DRAWER OFFICE TIDY         SET 2 TEA TOWELS I LOVE LONDON
InvoiceNo
536370                                  0.0                             0.0                             0.0                             0.0                            24.0
536852                                  0.0                             0.0                             0.0                             0.0                             0.0
536974                                  0.0                             0.0                             0.0                             0.0                             0.0
537065                                  0.0                             0.0                             0.0                             0.0                             0.0
537463                                  0.0                             0.0                             0.0                             0.0                             0.0
          Quantity
StockCode    10002 10120 10125 10135 11001
InvoiceNo
536370           1     0     0     0     0
536852           0     0     0     0     0
536974           0     0     0     0     0
537065           0     0     0     0     0
537463           0     0     0     0     0

In [ ]:
#let's make a function to apply all rows
def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['InvoiceNo', "StockCode"])['Quantity'].sum().unstack().fillna(False). \
            applymap(lambda x: True if x > 0 else False)
    else:
        return dataframe.groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: True if x > 0 else False)

fr_inv_pro_df = create_invoice_product_df(df_fr, id=True)

def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)


check_id(df_fr, '10002')
check_id(df_fr, '10120')

['INFLATABLE POLITICAL GLOBE ']
['DOGGY RUBBER']

In [ ]:
check_df(fr_inv_pro_df)

*************** Dataset Shape ***************
No. of Rows: 389
No. of Columns: 1522
*************** Dataset Information ***************
<class 'pandas.core.frame.DataFrame'>
Index: 389 entries, 536370 to 581587
Columns: 1522 entries, 10002 to POST
dtypes: bool(1522)
memory usage: 581.2 KB
None
*************** Types of Columns ***************
StockCode
10002     bool
10120     bool
10125     bool
10135     bool
11001     bool
          ...
90201B    bool
90201C    bool
C2        bool
M         bool
POST      bool
Length: 1522, dtype: object
*************** First 5 Rows ***************
StockCode  10002    10120    10125    10135    11001    15036    15039    15044C   15056BL  15056N
InvoiceNo
536370        True    False    False    False    False    False    False    False    False    False
536852       False    False    False    False    False    False    False    False    False    False
536974       False    False    False    False    False    False    False    False     True    False
537065       False    False    False    False    False    False    False    False    False    False
537463       False    False    False    False    False    False    False    False    False    False
*************** Last 5 Rows ***************
StockCode  10002    10120    10125    10135    11001    15036    15039    15044C   15056BL  15056N
InvoiceNo
580986       False    False    False    False    False    False    False    False    False    False
581001       False    False    False    False    False    False    False    False    False    False
581171       False    False    False    False    False    False    False    False    False    False
581279       False    False    False    False    False    False    False    False    False    False
581587       False    False    False    False    False    False    False    False    False    False
*************** Summary Statistics of The Dataset ***************
          count unique    top freq
StockCode
10002       389      2  False  381
10120       389      2  False  388
10125       389      2  False  383
10135       389      2  False  388
11001       389      2  False  388
...         ...    ...    ...  ...
90201B      389      2  False  387
90201C      389      2  False  388
C2          389      2  False  387
M           389      2  False  384
POST        389      2   True  300

[1522 rows x 4 columns]
*************** Dataset Missing Values Analysis ***************
Empty DataFrame
Columns: [Total Missing Values, Ratio]
Index: []

In [ ]:
# let's expose association rule
frequent_itemsets = apriori(fr_inv_pro_df,
                            min_support=0.01,
                            use_colnames=True)

frequent_itemsets.sort_values("support", ascending=False)

rules = association_rules(frequent_itemsets,
                          metric="support",
                          min_threshold=0.01)
# antecedent is first item in basket, consequent is second or more items in basket
# antecedent support is probability of basket has first item, consequent support is prob. of basket has the second item
# support is the fraction of the total number of transactions in which the itemset occurs (transactions containing both X and Y items / total number of transactions)
# confidence is the conditional probability of occurrence of consequent given the antecedent (transactions containing both X and Y items / transactions containing X)
# lift is the rise in probability of having {Y} on the cart with the knowledge of {X} being present over the probability of having {Y} on the cart without any knowledge about presence of {X}
# lift = (confidence/fraction of transactions containig Y)
rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]

check_id(df_fr, '21086')

rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]. \
sort_values("confidence", ascending=False)

['SET/6 RED SPOTTY PAPER CUPS']

                 antecedents           consequents  antecedent support  consequent support   support  confidence      lift  leverage  conviction  zhangs_metric
23827         (21080, 21086)               (21094)            0.102828            0.128535  0.100257    0.975000  7.585500  0.087040   34.858612       0.967673
23826         (21080, 21094)               (21086)            0.102828            0.138817  0.100257    0.975000  7.023611  0.085983   34.447301       0.955918
108842  (21080, 21086, POST)               (21094)            0.084833            0.128535  0.082262    0.969697  7.544242  0.071358   28.758355       0.947858
108840  (21080, 21094, POST)               (21086)            0.084833            0.138817  0.082262    0.969697  6.985410  0.070486   28.419023       0.936271
1823                 (21094)               (21086)            0.128535            0.138817  0.123393    0.960000  6.915556  0.105550   21.529563       0.981563
...                      ...                   ...                 ...                 ...       ...         ...       ...       ...         ...            ...
62208          (22629, POST)               (22630)            0.097686            0.100257  0.053985    0.552632  5.512146  0.044191    2.011190       0.907204
213433               (22728)  (22726, 22727, POST)            0.102828            0.071979  0.056555    0.550000  7.641071  0.049154    2.062268       0.968742
62213                (22630)         (22629, POST)            0.100257            0.097686  0.053985    0.538462  5.512146  0.044191    1.955013       0.909796
62211                (22629)         (POST, 22630)            0.125964            0.074550  0.053985    0.428571  5.748768  0.044594    1.619537       0.945098
5548                 (22382)               (22662)            0.120823            0.084833  0.051414    0.425532  5.016119  0.041164    1.593069       0.910673

[84 rows x 10 columns]

In [ ]:
# let's define a function to automate association rule
def create_rules(dataframe, id=True, country="France"):
    dataframe = dataframe[dataframe['Country'] == country]
    dataframe = create_invoice_product_df(dataframe, id)
    frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
    return rules

df = df_.copy()

df = retail_data_prep(df)
rules = create_rules(df)

In [ ]:
# let's make recommender function

def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    for i, product in enumerate(sorted_rules["antecedents"]):
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

    return recommendation_list[0:rec_count]

print(arl_recommender(rules, '22492', 1))
print(arl_recommender(rules, '22492', 2))
print(arl_recommender(rules, '22492', 3))

['22554']
['22554', '22382']
['22554', '22382', '22382']